<navbar>
    <ul>
        <li>
            <a href="/">Home</a>
        </li>
        <li>
            <a href="/skins">Skins</a>
        </li>
        <li>
            <a href="/gift">Gift</a>
        </li>
    </ul></ul>
</navbar>