<navbar class="navbar">
  <ul class="navbar-list">
    <li class="navbar-item">
      <a href="/" class="navbar-link">Skins</a>
    </li>
    <li class="navbar-item">
      <a href="/inventory" class="navbar-link">Inventory</a>
    </li>
    <li class="navbar-item">
      <a href="/case" class="navbar-link">Case</a>
    </li>
  </ul>
<ul class="navbar-auth">
  <% if (user) { %>
    <li class="user-name">Hello, <%= user.username %></li>

    <li class="navbar-item">
      <a href="/auth/logout" class="navbar-link navbar-logout">Logout</a>
    </li>
  <% } else { %>
    <li class="navbar-item">
      <a href="/auth/login" class="navbar-link navbar-login">Login</a>
    </li>
  <% } %>
</ul>
</navbar>
