<navbar>
    <ul>
        <li>
            <a href="/">Skins</a>
        </li>
        <li>
            <a href="/inventory">Inventory</a>
        </li>
        <li>
            <a href="/case">Case</a>
        </li>
        <li>
            <a href="/gift">Gift</a>
        </li>
    </ul></ul>
</navbar>