*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

body {
  font-family: system-ui, sans-serif;
  line-height: 1.5;
}

img {
  max-width: 100%;
  display: block;
}

:root {
  --primary-color: #293145;
  --secondary-color: #3f6788b0;
  --text-color: #cfd2d8;
  --border-radius: 5px;
  --border-color: #20a2ffe2;
  --primary-hover-color: #3c6484;
  --dark-background: #000000;
}

.navbar a {
  color: var(--text-color);
  text-decoration: none;
  font-weight: bold;
}

.navbar {
  display: flex;
  align-items: center;
  width: 100%;
  height: 8rem;
  font-size: 3rem;
  background-color: var(--dark-background);
  padding: 10px 0;
}
.navbar-list {
  flex: 1;
  display: flex;
  justify-content: center;
  gap: 30px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar-link {
  padding: 1rem;
  border-radius: 5px;
}
.navbar-link:hover {
  background-color: var(--secondary-color);
}
.navbar-auth {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-right: 50px;
}
.navbar-auth li {
  margin-left: 20px;
}

.navbar-login:hover {
  background-color: #5da047ce;
}
.navbar-login {
  background-color: #388020ce;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1b2838;
  font:
    16px "Arial",
    sans-serif;
  color: var(--text-color);
}

.filter-container {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 2rem;
  border-radius: 5px;
  background-color: var(--primary-color);
  padding: 20px;
  border: 1px solid var(--border-color);
}

.filter-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex-wrap: wrap;
}

.filter-options-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 2rem;
  width: 100%;
}

.filter-options-group {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-width: 150px;
}

.filter-form label {
  font-size: 2rem;
  margin: 1rem 0 0 1rem;
}

.filter-form input,
.filter-form select,
.filter-form button {
  padding: 8px;
  border-radius: 5px;
  border: 1px solid var(--border-color);
  background-color: var(--secondary-color);
  color: var(--text-color);
  font-size: 2rem;
  margin: 1rem;
}

.filter-input-search {
  width: 87.5%;
  margin: 1rem;
}

.filter-button-group {
  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
  align-self: flex-end;
}

.filter-button-group label {
  visibility: hidden;
}
.filter-form button {
  margin: 1rem;
}

.heading-over-filter {
  font-size: 3rem;
  margin: 1rem;
}

.skins {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  width: 80%;
}

.skin-card {
  background: var(--card);
  border: 1px solid var(--border);
  padding: 12px;
  border-radius: 8px;
  border: 1px solid var(--border-color);
  display: flex;
  flex-direction: column;
  align-items: center;
}
